<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019362795799-n94i7kg3k6t29dg7io2lo1ilfbeb7n96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019362795799-n94i7kg3k6t29dg7io2lo1ilfbeb7n96</string>
	<key>API_KEY</key>
	<string>AIzaSyCSVKDIam-LZ0mmUu9UelTv-CbKQeLvHrc</string>
	<key>GCM_SENDER_ID</key>
	<string>1019362795799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCodecamp</string>
	<key>PROJECT_ID</key>
	<string>flutter-codecamp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-codecamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019362795799:ios:8cc8bfbc9e8a4f3db01752</string>
</dict>
</plist>